.big-card-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 350px;
  width: 300px;
  margin: 0px 10px;
}

.big-card-photo {
  width: 100%;
}
.big-card-photo > img {
  height: 200px;
  width: 100%;
  min-width: 300px;
}

.big-card-title {
  margin: 10px 0;
}

.big-card-title > a {
  font-size: 20px;
  font-weight: bold;
}

.big-card-description {
  margin: 5px 0;
}

.big-card-description > p > a {
  color: grey;
}

@media screen and (min-width: 768px) {
  .big-card-photo > img {
    height: 200px;
    width: 300px;
    min-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  big-card-container {
    height: 450px;
    width: 500px;
  }
  .big-card-photo > img {
    height: 200px;
    width: 350px;
    min-width: 100%;
  }
}
