.small-card-container-content {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 110px;
}

.small-card-photo > img {
  min-width: 100px;
  width: 100px;
  height: 100%;
}

.small-card-title {
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card-title > h1 > a {
  font-size: 20px;
}

.small-card-container > hr {
  margin: 5px 0;
}

@media screen and (min-width: 1024px) {
  .small-card-photo > img {
    min-width: 150px;
    width: 150px;
    height: 100%;
  }
}
