.home-page-container_articles {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 2fr;
  margin-top: 1rem;
}

.home-page-articles_main {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .home-page-container_articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
  }
  hr {
    display: none;
  }
  .home-page-articles_main {
    margin-right: 2px;
  }
}

@media screen and (min-width: 1024px) {
  .home-page-articles_main {
    margin-right: 50px;
  }
}
